body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dee5e9;
}

header {
    background-color: #343a40;
    color: rgb(249, 242, 242);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product {
    background-color: rgb(237, 236, 236);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #44d855;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

.cart-details {
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-details ul {
    list-style-type: none;
    padding: 0;
}

.cart-details li {
    margin: 5px 0;
}
