* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1573bf;
}

:root {
  --font_family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --second_font_family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol",
    "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi,
    "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI",
    "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa",
    "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa",
    "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli",
    "Myanmar Text", "Cambria Math";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to top right,
    #f2d4c7,
    #dfdbdb,
    #dce2e2,
    #e1e2de,
    #dde3da,
    #d7e0d7,
    #d8e4d9
  );
}
main {
  display: flex;
  flex-direction: column;
  /* background-color: #DDDCDF; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.sign_in {
  background-color: #ffffff;
  height: 360px;
  width: 435px;
  padding: 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 20px; */
  border: 2px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.sign_in_options {
  height: 20vh;
}

.sign_in > img {
  margin-bottom: 20px;
}

.sign_in > h1 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1b1b1b;
  font-family: var(--font_family);
}

.sign_in > input {
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #1b1b1b;
  font-family: var(--font_family);
  padding-bottom: 9px;
}

.sign_in > div {
  display: flex;
  margin-bottom: 10px;
  height: 30px;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #1b1b1b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sign_in > .signin {
  margin-bottom: 23px;
}
.sign_in > .next {
  display: flex;
  flex-direction: row-reverse;
}

.next > button {
  height: 32px;
  width: 108px;
  color: white;
  background-color: #0067bb;
  border: 1px solid #0067bb;
}

.signin > img {
  margin-left: 3px;
}

.sign_in_options {
  display: flex;
  height: 48px;
  width: 440px;
  background-color: #fff;
  align-items: center;
  padding: 8px 44px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.sign_in_options > p {
  padding: 0px 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #1b1b1b;
  font-family: var(--font_family);
}
