/* .class { 
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
 */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue,
    Arial, sans-serif;
}

body {
  overflow-x: hidden;
  scale: 1;
}

a {
  text-decoration: none;
  color: #262626;
}

li {
  list-style: none;
  font-size: medium;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 7.5vh;
  width: max(100vw, 100%);
  align-items: center;
  padding: 10px;
  padding: 0 5%;
  margin-bottom: 2px;
  /* background-color: rgb(125, 92, 92); */
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 40vw; */
}

.class2 {
  display: flex;
  justify-content: space-between;
  width: 24vw;
}
.class1 {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  width: 48vw;
}

.cart_icon {
  position: relative;
  top: 3px;
}

.user_icon {
  position: relative;
  left: -12px;
}

article > a {
  height: 40px;
  background-color: #6b0e34;
  min-height: 3.625em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

main {
  width: max(100vw, 100%);
  /* height: 30vh; */
}
main > section:first-child {
  background-color: rgb(246, 244, 240);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding: 10px;
}

.laptop_img {
  height: inherit;
  width: -webkit-fill-available;
}

main > section:first-child > section {
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  align-items: flex-start;
  padding: 7vw;
  /* width: 50vw; */
}

.image_container > section > h1 {
  font-weight: 600;
  font-size: 37px;
  line-height: 44px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* text-align: center; */
  padding: 5px 0px;
}

.image_container > section > h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
  padding-top: 10px;
  /* text-align: center; */
}

.shop_btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: white;
  background-color: black;
  padding: 10px;
  display: flex;
  border: 1px solid black;
  border-radius: 1.5px;
}

main > .scroll {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 35px 650px;
  scale: 0.8;
}

.box {
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: 25vh;
  width: 100vw;
  padding: 0px 200px;
  /* justify-content: center; */
}

.box > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.items > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 23vw;
}

.item_image {
  height: 23vh;
  width: 21vw;
  margin-bottom: 20px;
}

.items {
  display: flex;
  /* width: 90%; */
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-around;
  height: 60vh;
  margin-bottom: 30px;
}

.items > div > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 27px;
  width: 23vw;
  line-height: 35px;
  color: black;
  margin-bottom: 20px;
}

.items > div > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  width: 20vw;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-bottom: 30px;
}

.items > div > a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6b0e34;
  /* text-decoration: underline; */
  text-align: start;
}

.items > div > a:hover {
  text-decoration: underline;
}

.masterpiece {
  /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Microsoft-Holiday-AI:VP5-1596x600); */
  /* display: flex; */
  background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Microsoft-Holiday-AI:VP5-1596x600);
  margin: 75px;
  height: 70vh;
  background-position: top right;
  background-color: #040725;
  background-repeat: no-repeat;
}

.masterpiece > div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50vw;
  padding: 0px 100px;
  padding-right: 150px;
  height: 70vh;
  align-items: flex-start;
  justify-content: center;
}

.masterpiece > div > h1 {
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 44px;
  color: #ffffff;
  margin: 10px 0px;
}

.masterpiece > div > p {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.masterpiece > div > button {
  margin: 20px 0px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 16px;
  color: #000000;
  background-color: #ffffff;
  height: 40px;
  width: 200px;
  border: 1px solid white;
  border-radius: 2px;
}

.For_Bussiness {
  font-size: 37px;
  line-height: 44px;
  font-weight: 600;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5%;
  margin-bottom: 20px;
}

.Bussiness {
  display: flex;
  /* width: 90%; */
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-around;
  height: 60vh;
  margin-bottom: 30px;
}

.Bussiness > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 21.5vw;
}

.Bussiness_image {
  height: 23vh;
  width: 20vw;
  margin-bottom: 20px;
}

.Bussiness > div > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 27px;
  width: 22vw;
  line-height: 35px;
  color: black;
  margin-bottom: 20px;
}

.Bussiness > div > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  width: 21vw;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-bottom: 30px;
}

.Bussiness > div > a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #6b0e34;
  /* text-decoration: underline; */
  text-align: start;
}

.Bussiness > div > a:hover {
  text-decoration: underline;
}

.minecraft {
  background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hour-of-Code-Minecraft-FY24:VP5-1596x600);
  margin: 75px;
  margin-top: -45px;
  margin-bottom: 0px;
  margin-right: 100px;
  /* height: 60vh; */
  /* width: 88.6vw; */
  /* background-position: top right; */
  background-color: #040725;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.minecraft > div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 47vw;
  padding: 0px 100px;
  padding-right: 150px;
  height: 70vh;
  align-items: flex-start;
  justify-content: center;
}

.minecraft > div > h1 {
  font-size: 37px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 44px;
  color: #ffffff;
  margin: 10px 0px;
}

.minecraft > div > p {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.minecraft > div > button {
  margin: 20px 0px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  height: 40px;
  width: 166px;
  border: 1px solid white;
  border-radius: 2px;
}

main > .icons {
  display: flex;
  align-items: center;
  padding-left: 5%;
  margin-top: 15px;
}
.icons > p {
  margin-right: 10px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
}
.icons > img {
  margin-right: 10px;
}

main > .Back_to_top {
  display: flex;
  background-color: #d8d8d9;
  width: 140px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d8d9;
  border-radius: 2px;
  position: fixed;
  right: 5%;
  transition: 2s ease-in-out;
}

.Back_to_top > a {
  font-family: var(--font);
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  padding-left: 5px;
}



footer {
  background-color: #f2f3f3;
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  font-family: var(--font);
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.footer1 {
  /* display: flex; */
  margin-top: 70px;
}

.footer1 > div {
  display: block;
  float: left;
  min-height: 1px;
  padding: 0px 12px;
  width: 215px;
  zoom: 1;
}

.footer1 > div > p {
  padding: 8px 0px;
  font-size: 9px;
}

.footer1 > div > .heading {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #616161;
  padding: 36px 0px 4px;
}

.footer2 > div {
  display: flex;
  flex-direction: row;
}

.last {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.privacy {
  margin-left: 20px;
  display: flex;
  width: 21vw;
  justify-content: space-between;
}

.privacy > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy > div > img {
  opacity: 0.7;
  margin-right: 8px;
}

.matter {
  display: flex;
  width: 50vw;
  font-size: 11px;
  justify-content: space-between;
}

/*HOVERS SECTION*/

.class1 > li:hover {
  text-decoration: underline 1.5px;
}

.underline :hover {
  text-decoration: underline 1.5px;
}

nav:hover {
  cursor: pointer;
}

header > article:hover {
  cursor: pointer;
}

header > article > a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.scroll > img:hover {
  cursor: pointer;
}

.box > div {
  cursor: pointer;
}

.items > div {
  cursor: pointer;
}

.masterpiece > div:hover {
  cursor: pointer;
}

.For_Bussiness > p:hover {
  cursor: text;
}

.Bussiness > div {
  cursor: pointer;
}

.minecraft:hover {
  cursor: pointer;
}

.icons > img:hover {
  cursor: pointer;
}

.Back_to_top:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.image_container:hover {
  cursor: pointer;
}

footer > div > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.privacy > div > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.matter > li:hover {
  text-decoration: underline;
  cursor: pointer;
}




/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #434242; /* Thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Track color */
}

/* For Firefox */
body {
  scrollbar-width:inherit;
  scrollbar-color: #3a3a3a #ecf0f1;
}

/* Optional: Custom styles for the scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons in WebKit browsers */
}

/* Optional: Hide scrollbar in Firefox when not hovered */
body:hover {
  scrollbar-width: thin;
}
body {
  scrollbar-width: none;
}

/* Optional: Add a thin border around the scrollbar */
::-webkit-scrollbar {
  border: 1px solid #3a3a3a;
}

/* Optional: Round the corners of the scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Optional: Add a thin border around the scrollbar thumb */
::-webkit-scrollbar-thumb {
  border: 1px solid #2d2d2d;
}
